/*Menu TOPHEADER*/
.topheader {
position: fixed;
background-color: white;
width: 100%
height: 80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}

.Menu-Horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a {
  text-decoration: none;
  padding: 15px 20px;
  color:blue;
}

.Menu-Horizontal li a:hover{
  color: red;
}

.Menu-Vertical {
  padding:0;
  position: absolute;
  display: none;
  width: 200px;
  list-style: none;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
 display: block;
 color: black;
}

.Menu-Vertical li {
  background-color: black;
}
/*FORMULARIO*/
.seccion-formulario{
  background-color: #95b5f1;
  padding: 40 px;
  border: 3px solid blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-formulario {
  background-color: aqua;
  padding:30px ;
  border: 2px solid brown;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}
.Campo {
  background-color: rgb(42, 186, 104);
  padding: 15 px;
  margin-bottom: 15 px;
  border: 1px solid violet;
  border-radius: 5px;
}
.Formulario label {
  display: block;
  color: green;
  font-weight: 400;
  margin-bottom: 6px;
}
.Formulario input[type="text"], .Formulario select{
  width: 100%;
  padding: 10px;
  border: 1.5px solid skyblue;
  border-radius: 3px;
}
.lista-checkbox, .lista-radio{
  list-style: none;
  padding: 8px;
  background-color: beige;
  border: 2px;
  border-radius: 2px;
}
.Formulario button {
  background-color: blue;
  border: 2 px solid greenyellow;
  border-radius: 5 px;
  padding: 10px 20px;
  cursor: pointer;
}